# Text (always LF)
*.txt   text eol=lf
*.md    text eol=lf
*.csv   text eol=lf
*.json  text eol=lf
*.yml   text eol=lf
*.ini   text eol=lf

# Scripts
*.sh    text eol=lf

# Windows scripts
*.bat   text eol=crlf
*.ps1   text eol=crlf

# Binary
*.png   binary
*.jpg   binary
*.ico   binary
*.exe   binary
*.dll   binary

# Safety default
* -text
